[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tab.active {
    background-color: pink;
}

body {
    font-family: 'Spectral', serif;
    background-color: rgb(210, 244, 210);
    }

.body{
    padding: 0;
    margin: 0;
}

.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid rgb(164, 224, 164);
}

.tab{
    padding: 15px 30px;
    margin-right: 5px;
    cursor: pointer;
    padding: 10px; 

}

.tab:hover {
    background-color: pink
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Spectral', serif;
    box-sizing: border-box;
}
   
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 100vh;
    align-self: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    gap: 50rem;
    height: 6vh;
}

.my-picture {
    display: flex;
    justify-content: center;
    gap: 30rem;

}

.home-text-title {
    font-size: 3rem;
    align-self: center;
    height: 55vh;
}

.home-text-p1 {
    font-weight: 600;
    font-size: 1.75rem;
    align-self: center;
    text-align: left;

}

.home-text-p2 {
    font-weight: 600;
    font-size: 1.75rem;
    align-self: center;
    text-align: center;
}

.home-text-p3 {
    font-size: 1.75rem;
    align-self: center;
    text-align: center;
}

.container{
    width: 100%;
    height: 100vh;
    background: rgb(204, 237, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.music-player{
    background: pink; 
    width: 100%;
    padding: 25px 35px; 
    text-align: center;

}

nav{
    display: flex; 
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #b72970;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.song-img{
    width: 220px;
    border-radius: 50%; 
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: #333; 
    margin-top: 20px;
}

.music-player p{
    font-size: 14px;
    color: #333;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: pink;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;

}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: pink;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);

}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;

}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #ffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: pink;
    box-shadow: 0 10px 20px #f9767638;
    cursor: pointer;

}

.controls div:nth-child(2){
    transform: scale(1.5);
    background: pink;
    color: #fff;

}

.my-picture{
    border-radius: 50%; 
    border: 8px solid rgb(140, 124, 124);
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.22);
    display: inline-flex;
    align-items: center;
    justify-content: center;

}